.container {
  width: 960px;
  margin: 0 auto;
}

header {
  margin: 0px;
  background: #ccc;
}

.header-text {
  margin: 0;
}

.button-group {
  margin: 20px auto;
}

.btn {
  border-radius: 5px;
  background: lightgray;
  font-size: 20px;
  padding: 5px;
  margin: 5px 0px;
}

.btn-yellow {
  background: lightyellow;
}

.btn-blue {
  background: lightblue;
}

.btn-green {
  background: lightgreen;
}

.btn-red {
  background: lightpink;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.btn-close {
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
  display: inline-block;
}

.btn-close:hover {
  color: slateblue;
}

.btn-close::after {
  content: "\2716";
}

.btn-delete {
  text-decoration: none;
  display: inline-block;
  content: url('../images/trash.svg');
  height: 20px;
}

.table-body tr:nth-child(2n) {
  background: lightgoldenrodyellow;
}

.table-body tr:nth-child(2n+1) {
  background: lightcyan;
}

.table-header {
  background: lightslategray;
  color: #fff;
}

.table-header th, .table-body td {
  border: 1px solid black;
}

.table-body td {
  text-align: center;
}

#modal-widow-layout {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#modal-window {
  position: relative;
  width: 640px;
  margin: 100px auto 0px auto;
  border-radius: 5px;
  background: #fff;
}

.form-header {
  margin: 0;
  text-align: center;
}

.form-control {
  display: block;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}

.form-label {
  font-size: 20px;
}

.form-control, .form-control:focus {
  border-radius: 5px;
}